<mat-toolbar>
  <a mat-icon-button href="https://www.jumia.com.eg/" class="logo">
    <img src="../assets/Jumia E-Commerce Logo.png" height="90%" />
  </a>
  <span class="example-spacer"></span>
  <a mat-icon-button href="https://www.linkedin.com/in/youssef-farahat-66ba0715b/"
     class="social-media-buttons">
    <img src="../assets/linkedin.png" height="90%"/>
  </a>
  <a mat-icon-button href="https://github.com/yousseffarahat"
     class="social-media-buttons">
    <img src="../assets/github.png" height="90%" />
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
